<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="dist/style.css">
    <title>Avada Health</title>
</head> 
<body>
    <div id="app">
        <header>

            <div class="container">
                <div class="nav-header">
                    <div class="logo-container">
                        <img class="logo-img" src="public/imgs/avada-logo/medical_logo_2x_light.png" alt="avada logo">
                    </div>
        
                    <nav class="nav-header-container">

                        <ul class="navbar-list"
                        :class="{'nav-hidden': !showNavbar}">
                            <li class="single-link" 
                            v-for="(link, index) in navLinksList" :key="link.text">

                                <a :href="link.link" class="a_parent"
                                :class="{btn: link.type === 'btn'}"
                                @click.stop="onLinkClick(link, $event)"
                                v-on:blur.stop="focusLost(link, index, $event)"
                                tabindex="-1">

                                    {{ link.text }}

                                    <i v-if="link.ddmenu" class="fas fa-chevron-down"></i>
                                </a>

                                <!-- DROP DOWN MENU -->
                                <div class="dd-menu"
                                v-if="link.ddmenu" :class="{hidden: !link.ddMenuOpen}">
                                    <ul class="child-menu">
                                        <li v-for="ddLink in link.ddmenu">
                                            <a class="dd_menu_a"
                                            :href="ddLink.link"
                                            target="_blank">
                                                {{ ddLink.text }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <span class="close-icon"
                            @click="closeNav($event)"
                            v-if="showNavbar">
                                <i class="fas fa-times"></i>
                            </span>

                        </ul>
                        <div class="toggle-menu"
                        @click="onClickShowNav($event)"
                        @blur="focusLost($event)"
                        tabindex="-1">

                        <!-- v-on:blur.stop="closeNav($event)" -->
                            <div class="wrap">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>

                    </nav>
                </div>
    
                <div class="hero-text">
    
                    <h1>
                        Caring 
                        <span class="highlighted">For Life</span>
                    </h1>
    
                    <p class="lead">
                        Kind words can be short and easy to speak, but their echoes are truly endless. Avada Health focuses on you as if it was our own family.
                    </p>
                    
                    <a href="#" class="primary-btn link">
                        Learn more
                    </a>
                 
                </div>

            </div>

        </header>
    
        <main>
            <!-- WELCOME SECTION -->
            <section id="section-1" class="light-bg">
                <div class="container">
                    <div class="title-container">
                        <h3>
                            Welcome to Avada Health
                        </h3>
                        <h4>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda in mollitia voluptas. Libero eos natus aut.
                        </h4>
                    </div>

                    <div class="row">
                        <div class="col-4">

                            <img class="plus-row-img" src="public/imgs/sections-icons/icon-1.png" alt="icon emergency phone">

                            <h6>Same day appointments</h6>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptam accusantim.
                            </p>
                        </div>
                        <div class="col-4">

                            <img class="plus-row-img" src="public/imgs/sections-icons/icon-2.png" alt="icon bed">

                            <h6>World class facilities</h6>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptam accusantim.
                            </p>

                        </div>
                        <div class="col-4">

                            <img class="plus-row-img" src="public/imgs/sections-icons/icon-3.png" alt="icon expert doctors">

                            <h6>Experts doctors</h6>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptam accusantim.
                            </p>

                        </div>
                        <div class="col-4">

                            <img class="plus-row-img" src="public/imgs/sections-icons/icon-4.png" alt="icon microscope">

                            <h6>Complementary therapies</h6>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptam accusantim.
                            </p>

                        </div>
                    </div>
                </div>
            </section>

            <!-- OUR DOCTORS SECTION -->
            <section id="section-2" class="light-bg">
                <div class="container">

                    <div class="title-container">
                        <img src="public/imgs/sections-icons/icon-5.png" alt="doctor icon">
                        <h2>
                            Meet our doctors
                        </h2>
                        <span class="underline">
                        </span>
                        <h4>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                        </h4>
                    </div>

                    <div class="row">
                        <div v-for="doctor in ourDoctors" class="col-3" class="doctor-file">
                            <div class="photo-container">
                                <img :src="'public/imgs/our-doctors/' + doctor.photo" :alt="'Doctor ' + doctor.name">
                            </div>
                            <div class="box-below">
                                <h6>
                                    {{ doctor.department }} <br>
                                    <span class="lowercase">
                                        {{ doctor.name }}
                                    </span> 
                                </h6>
                                <p>
                                    {{ doctor.description }}
                                </p>

                                <ul v-if="doctor.socialLinks">
                                    <li v-for="social in doctor.socialLinks">
                                        <a :href="social.link" :class="'social-icon icon-' + social.text" target="_blank">
                                            <i :class="'fab fa-' + social.text"></i>
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>
            </section>

            <!-- OUR HEALTH SERVICES SECTION -->
            <section id="section-3" class="light-bg">
                <div class="container">

                    <div class="title-container">
                        <img src="public/imgs/sections-icons/icon-6.png" alt="heart cardio icon">
                        <h2>
                            Our health services
                        </h2>
                        <span class="underline">
                        </span>
                        <h4>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                        </h4>
                    </div>

                    <div class="row">

                        <div v-for="service in healthServices" class="col-3 services-box">
                            <img class="service-icon" :src="'public/imgs/services-icons/icon-' + service.icon" :alt="service.name">

                            <h6>
                                {{ service.name }}
                            </h6>
                            <p>
                                {{ service.description }}
                            </p>
                        </div>

                    </div>

                </div>
            </section>

            <!-- OUR FACILITIES SECTION -->
            <section id="section-4" class="dark-bg">
                <div class="container">

                    <div class="title-container">
                        <img src="public/imgs/sections-icons/icon-7.png" alt="heart cardio icon">
                        <h2>
                            Tour our facilities
                        </h2>
                        <span class="underline white">
                        </span>
                        <h4>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                        </h4>
                    </div>
                    <div class="player-container">
                        <a href="#">
                            <img src="public/imgs/play-icon.png" alt="play icon">
                        </a>
                    </div>

                </div>
                <div class="facilities-box row">
                    <div class="col-3 bg-color-1">
                        <h4>
                            Emergency Care
                        </h4>
                        <img class="facilities-icon" src="public/imgs/wave-divider.png" alt="wave icon">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.
                        </p>
                        <div class="btn-container">
                            <a href="#" class="secondary-btn link">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="col-3 bg-color-2">
                        <h4>
                            Expert Diagnostics
                        </h4>
                        <img class="facilities-icon" src="public/imgs/wave-divider.png" alt="wave icon">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.
                        </p>
                        <div class="btn-container">
                            <a href="#" class="secondary-btn link">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="col-3 bg-color-3">
                        <h4>
                            Superb Rehabilitation
                        </h4>
                        <img class="facilities-icon" src="public/imgs/wave-divider.png" alt="wave icon">
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque.
                        </p>
                        <div class="btn-container">
                            <a href="#" class="secondary-btn link">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <!-- MAKE AN APPOINTMENT FORM SECTION -->
            <section id="section-5" class="dark-bg">
                <div class="container">

                    <div class="title-container">
                        <h3 class="capitalize">
                            Make an appointment
                        </h3>
                        <span class="underline white">
                        </span>
                        <h4>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                        </h4>
                    </div>

                    <div class="form-container">
                        <form action="">
                            <input v-model="userData.name"
                            type="text" name="name" placeholder="Name*" required>

                            <input v-model="userData.email"
                            type="email" name="email" placeholder="Email*" required>
                            
                            <input v-model="userData.phone"
                            type="tel" pattern="[0-9]{3}-[0-9]{7}" name="phone" placeholder="Phone Number">

                            <input v-model="userData.date"
                            type="date" name="date" placeholder="Appointment Date">

                            <textarea v-model="userData.message"
                            name="info" placeholder="How can we help?*" rows="5" required>
                            </textarea>

                            <button class="primary-btn"
                            @click.prevent="onSendForm()">
                                <span v-if="!sendingForm">Make an appointment</span>
                                <div v-else class="loading-dots">
                                    <span class="bounce-1"></span>
                                    <span class="bounce-2"></span>
                                    <span class="bounce-3"></span>
                                </div>
                            </button>
                        </form>
                    </div>
                    <div v-if="formMessage.message" class="form-message"
                    :class="formMessage.type === 'success' ? 'success' : 'error'">
                        <p>
                            {{ formMessage.message }}
                        </p>
                        <span class="close-icon"
                        @click="closePopup()">
                            <i class="fas fa-times"></i>
                        </span>
                    </div>

                </div>
            </section>

            <!-- CLIENTS LOGO SECTION -->
            <section id="section-6">
                <div class="clients-logo-container">

                    <img v-for="client in clientsList" :src="'public/imgs/clients-logo/client-logos' + client.logo" alt="">

                </div>
            </section>

        </main>
    
        <footer>
            <div class="footer-content container light-bg">
                <div class="row">

                    <div class="col-3">
                        
                        <div class="logo-container title-box">
                            <img class="logo-img" src="public/imgs/avada-logo/medical_logo_2x_dark.png" alt="avada logo">
                        </div>

                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolemue launti totam aperiam, eaque ipsa quae abillo. Invente veriatis et quasi architecto beatae luptatem accusantium, remaperiamsiat. Voluptatem accusest etsium doloremque laudaien. Lorem ipsum sits dolores ets unser.
                        </p>

                        <h6>
                            Learn more about us
                        </h6>

                        <ul>
                            <li v-for="social in socialLinkList">
                                <a :href="social.link" :class="'social-icon icon-' + social.text" target="_blank">
                                    <i :class="'fab fa-' + social.text"></i>
                                </a>
                            </li>
                        </ul>
                    
                    </div>

                    <!-- CONTACT INFO -->
                    <div class="col-3">
                        <div class="title-box">
                            <h5>
                                Contact information
                            </h5>
                            <span class="underline colored"></span>
                        </div>
                        <div class="contact-box">
                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="p-style">121 King Street, London United Kingdom</span>
                            </div>
                            <div>
                                <i class="fas fa-phone"></i>
                                <span class="p-style">1.800.458.556</span>
                            </div>
                        </div>
                    </div>

                    <!-- MEDICAL DEPARTMENTS -->
                    <div class="col-3">
                        <div class="title-box">
                            <h5>
                                Medical departments
                            </h5>
                            <span class="underline colored"></span>
                        </div>
                        <div class="departments-box">

                            <ul class="departments-list">
                                <li v-for="department in departmentsList">
                                    <a :href="department.link">
                                        <span class="arrow-icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                        <span class="text">
                                            {{ department.text }}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <a href="#" class="white-btn link">
                                View our departments
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright light-bg">
                <div class="container">
                    <div class="copyright-text">
                        &#169; Copyright 2012-2021
                        <span>&#124;</span> Avada Theme by Theme Fusion 
                        <span>&#124;</span> All Rights Reserved
                        <span>&#124;</span> Powered by <a href="#" target="_blank">WordPress</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="scripts/data.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>