header {
    background-image: url(../../public/imgs/bg-img/header-image-homepage.jpg);
    background-position: center;
    background-size: cover;

    padding: ($spacing/1.5) 0;

    .hero-text {
        max-width: 50%;
        margin-left: 10%;
        padding: ($spacing*5) 0;
        color: white;
    }
}


.nav-header {
    height: 80px;

    display: flex;
    justify-content: space-between;
}

.logo-container {
    min-width: 100px;
    max-width: 20%;

    img.logo-img {
        width: 100%;
    }
}

.nav-header-container {

    font-family: $secondary-font-stack;
    font-size: $font-size/1.5;
    text-transform: uppercase;

    li {
        margin: 0 $spacing/2;
        a {
            transition: color $set-transition, background-color $set-transition;
        }
        a:hover {
            color: $primary-color;
        }
    }
}
