form {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;
}

input, textarea {
    padding: ($spacing/2) ($spacing/3);
    border: 1px solid $input-color;

    font-family: $primary-font-stack;
    font-size: $font-size/2;

    background-color: transparent;
    color: white;

    &:hover {
        border: 1px solid $input-hover;
    }
}

input {
    height: 36px;
}
