
section {
    text-align: center;
    margin: ($spacing*3) 0;

    &.light-bg {

        h1, h2, h3, h4, h5, h6 {
            color: $title-color;
        }
        p, span {
            color: $text-color;
        }
    }
    &.dark-bg {
        h1, h2, h3, h4, h5, h6, p, span {
            color: white;
        }
    }
}

.title-container {
    width: 60%;
    margin: auto;
}

#section-1 {
    
    .row {
        margin-top: $spacing*2;
    }
    .plus-row-img {
        width: 20%;
        margin-bottom: $spacing;
    }
}